@model MyELearningProject.DAL.Entities.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2 class="card-header">  Hizmet Güncelle </h2>
<br />
<br />
<form method="post">
    <label>Hizmet ID:</label>
    @Html.HiddenFor(x => x.aboutID, new { @class = "form-control" })
    <br /><br />
    <label>Hizmet Adı:</label>
    @Html.TextBoxFor(x => x.aboutTittle, new { @class = "form-control" })
    <br /><br />
    <label>Hizmet Açıklama:</label>
    @Html.TextBoxFor(x => x.aboutDescreption, new { @class = "form-control" })
    <br /><br />
    <label>Resim Yolu:</label>
    @Html.TextBoxFor(x => x.aboutImage, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-primary">Kaydet</button>
</form>


