@model MyELearningProject.DAL.Entities.Instructor
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v16/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Login_v16/images/instructor.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Eğitmen Giriş Sayfası
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" method="post">

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="mail" placeholder="mail">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="password" placeholder="sifre">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Giriş
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v16/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v16/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/js/main.js"></script>

</body>
</html>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <br />
    <br />
    <form  method="post">
        <div class="container" style="width:600px; height:400px; border-style:double; background-color:darkseagreen; color:white">
            <h1 class="card-header-pills" style="text-align:center" >Öğrenci Giriş Sayfası</h1>
            <br />
            <label>Mail Adres:</label>
            <input type="email" name="smail" class="form-control" />
            <br />
            <label>Şifre:</label>
            <input type="password" name="spassword" class="form-control" />
            <br />
            <button class="btn-outline-dark" style="color:black">Giriş Yap</button>
        </div>
    </form>*@