@model List<MyELearningProject.DAL.Entities.Instructor>
@{
    ViewBag.Title = "InstructorList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h2 class="card-header"> Eğitmen Listesi </h2>
                <table class=" table table-bordered">
                    <tr>
                        <th> # </th>
                        <th> Görsel </th>
                        <th> Eğitmen Adı </th>
                        <th> Eğitmen Soyadı </th>
                        <th> Kurslar </th>
                        <th> Sitede Gör </th>
                        <th> Sil </th>
                        <th> Güncelle </th>
                    </tr>
                    @foreach (var i in Model)
                    {
                <tr>
                    <td>@i.instructorID</td>
                    <td><img src="@i.imageUrl" style="height:50px; width:60px; border-radius:50%" /></td>
                    <td>@i.name</td>
                    <td>@i.surname</td>
                    <td><a href="/Instructor/#/@i.instructorID" class="btn btn-outline-warning"> Kurslar </a></td>
                    <td><a href="/Instructor/#/@i.instructorID" class="btn btn-outline-info"> Sitede Gör </a></td>
                    <td><a href="/Instructor/DeleteInstructor/@i.instructorID" class="btn btn-outline-danger"> Sil </a></td>
                    <td><a href="/Instructor/UpdateInstructor/@i.instructorID" class="btn btn-outline-success"> Güncelle </a></td>


                </tr>
                    }
                </table>
                <a class="btn btn-outline-secondary" href="/Instructor/AddInstructor/" > Yeni Eğitmen Ekle</a>
            </div>
        </div>
    </div>
</div>