@model List<MyELearningProject.DAL.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h2 class="card-header"> Kategori Listesi </h2>
                <br />
                <table class=" table table-bordered">
                    <tr>
                        <th> # </th>
                        <th> Kategori Adı </th>
                        <th> Sil </th>
                        <th> Güncelle </th>
                    </tr>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.categoryID</td>
                            <td>@c.categoryName</td>
                            <td><a href="/Category/DeleteCategory/@c.categoryID" class="btn btn-outline-danger"> Sil </a></td>
                            <td><a href="/Category/UpdateCategory/@c.categoryID"class="btn btn-outline-success"> Güncelle </a></td>
                            
                        </tr>
                    }
                </table>
                <a class="btn btn-outline-secondary" href="/Category/AddCategory/"> Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>

            
