@model MyELearningProject.DAL.Entities.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="card-header">  Kategori Güncelle </h2>
<br /><br />
<form method="post">
    <label>Kategori ID:</label>
    @Html.TextBoxFor(x => x.categoryID, new { @class = "form-control" })
    <br /><br />
    <label>Kategori Adı:</label>
    @Html.TextBoxFor(x => x.categoryName, new { @class = "form-control" })
<br /><br />
<button class="btn btn-primary">Kaydet</button>
</form>

