
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_instructorLayout.cshtml";
}

<h2>Bilgilerim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td> Eğitmen Adı Soyadı</td>
        <td> Eğitmen  Mail</td>

    </tr>


    <tr>
        <td>@ViewBag.instname</td>
        <td>@ViewBag.mail</td>

    </tr>

</table>

