@model List<MyELearningProject.DAL.Entities.Course>
@{
    ViewBag.Title = "courseDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>courseDetails</h2>

<table class="table table-bordered">
    <tr>
        <td></td>
    </tr>
</table>