
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Bilgilerim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td> Öğrenci Adı Soyadı</td>        
        <td> Öğrenci  Mail</td>
        
    </tr>


    <tr>
        <td>@ViewBag.name</td>
        <td>@ViewBag.mail</td>

    </tr>

</table>